<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.mapper.laboratoryFrom.UserAuthorInfoMapper">
<!-- 通用查询结果列-->
<!--<sql id="Base_Column_List">
    id, name, age
</sql>-->
<select id="selectUserAuthorPage"  resultType="com.hc.model.ResponseModel.UserAuthInfoModel">
select
a.hospitalname,
b.userid,
b.username,
a.hospitalcode,
(select count(*) from userequipmentright where userid = b.userid and equipmentitem = '1') environment, -- 环境
(select count(*) from userequipmentright where userid = b.userid and equipmentitem = '2') incubator,  -- 培养箱
(select count(*) from userequipmentright where userid = b.userid and equipmentitem = '3') nitrogen,  -- 液氮罐
(select count(*) from userequipmentright where userid = b.userid and equipmentitem = '4') refrigerator,  -- 冰箱
(select count(*) from userequipmentright where userid = b.userid and equipmentitem = '5') operationFloor, -- 操作台
(select count(*) from userequipmentright where userid = b.userid and equipmentitem = '6') UPS -- 市电
from hospitalofreginfo a inner join userright b on a.hospitalcode = b.hospitalcode

 order by a.hospitalcode,b.username desc
</select>

<select id="searchScByHosMon" parameterType="java.util.Map" resultType="com.hc.entity.UserScheduLing">
    select  * from userscheduling where
    hospitalcode =#{hosId}
    <if test="month.length() lt 8">
      and   DATE_FORMAT(starttime,'%Y-%m') =#{month}
    </if>
    <if test="month.length() gt 8">
      and  DATE_FORMAT(starttime,'%Y-%m-%d') =#{month}
    </if>
</select>

<select id="searchScByHosMonSection" parameterType="java.util.Map" resultType="com.hc.entity.UserScheduLing">
    select  * from userscheduling where
    hospitalcode =#{hosId}
    <if test="startMonth.length() lt 8 and endMonth.length() lt 8 ">
        and  DATE_FORMAT(starttime,'%Y-%m') &gt;= #{startMonth}
        and  DATE_FORMAT(endtime,'%Y-%m') &lt;= #{endMonth}
    </if>
    <if test="startMonth.length() gt 8 and endMonth.length() gt 8 ">
        and  DATE_FORMAT(starttime,'%Y-%m-%d') = #{startMonth}
        and  str_to_date(#{endMonth},'%Y-%m-%d') &lt;= endtime
    </if>
</select>
</mapper>