<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.mapper.InstrumentMonitorInfoMapper">
<!-- 通用查询结果列-->
<!--<sql id="Base_Column_List">
    id, name, age
</sql>-->
<select id="selectInfo" parameterType="java.lang.Integer" resultType="com.hc.model.ResponseModel.InstrumentMonitorInfoModel">

    select
            b.instrumenttypeid,
            b.instrumenttypename,
            c.instrumentconfigid,
            c.instrumentconfigname,
            a.lowlimit,
            a.highlimit,
            b.alarmtime
            from instrumentmonitor a left join  monitorinstrumenttype b on a.instrumenttypeid = b.instrumenttypeid
                                      left join  instrumentconfig c on a.instrumentconfigid = c.instrumentconfigid
                                      where  a.instrumenttypeid = #{instrumenttypeid}








</select>

<select id="selectInstrumentPage" parameterType="com.hc.model.MapperModel.PageUserModel" resultType="com.hc.model.ResponseModel.AllInstrumentInfoModel">
 select * from   (select
a.equipmenttypeid,
b.equipmenttypename,
a.hospitalcode,
c.hospitalname,
d.equipmentno,
d.equipmentname,
e.instrumentno,
e.instrumentname,
f.highlimit,
f.lowlimit,
f.instrumentparamconfigNO,
f.instrumentconfigid,
f.instrumenttypeid,
g.instrumenttypename,
h.instrumentconfigname,
f.warningphone,
e.alarmtime
from hospitalequiment a left join monitorequipmenttype b on a.equipmenttypeid = b.equipmenttypeid
                        left join HospitalOfRegInfo c on a.hospitalcode = c.hospitalcode
                        inner join  monitorequipment d on (a.equipmenttypeid = d.equipmenttypeid and a.hospitalcode = d.hospitalcode)
                        inner join monitorinstrument e on d.equipmentno = e.equipmentno
                        left join instrumentparamconfig f on e.instrumentno = f.instrumentno
                        left join monitorinstrumenttype g on f.instrumenttypeid = g.instrumenttypeid
                        left join instrumentconfig h on f.instrumentconfigid = h.instrumentconfigid
                        <where>
                            '1'='1'
                            <if test="hospitalcode!=null">
                                and a.hospitalcode = #{hospitalcode}
                            </if>
                            <if test="equipmenttypeid!=null">
                                and a.equipmenttypeid = #{equipmenttypeid}
                            </if>
                            <if test="equipmentno!=null">
                                and d.equipmentno = #{equipmentno}
                            </if>

                        </where>
                        order by c.hospitalname,a.orderno,d.equipmentno,g.instrumenttypeid,h.instrumentconfigid) k
                        <where>
                            '1'='1'
                            <if test="fuzzy!=null">
                                and  instrumentconfigname like #{fuzzy}
                                or  instrumentname like #{fuzzy}
                                or  equipmentname like #{fuzzy}
                                or  hospitalname like #{fuzzy}
                                or  equipmenttypename like #{fuzzy}
                            </if>
                        </where>
</select>


</mapper>