<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.mapper.InstrumentMonitorInfoMapper">
<!-- 通用查询结果列-->
<!--<sql id="Base_Column_List">
    id, name, age
</sql>-->
<select id="selectInfo" parameterType="java.lang.Integer" resultType="com.hc.model.InstrumentMonitorInfoModel">

    select
            b.instrumenttypeid,
            b.instrumenttypename,
            c.instrumentconfigid,
            c.instrumentconfigname,
            a.lowlimit,
            a.highlimit,
            b.alarmtime
            from instrumentmonitor a left join  monitorinstrumenttype b on a.instrumenttypeid = b.instrumenttypeid
                                      left join  instrumentconfig c on a.instrumentconfigid = c.instrumentconfigid
                                      where  a.instrumenttypeid = #{instrumenttypeid}








</select>




</mapper>